.clearfix:after {
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }


/* =============================================================================
                   Navigation
   ========================================================================== */
  ul.menu {
    margin:10px 0 0 0;
    padding:0;
  }
    ul.menu li {
      display:inline;
      margin-right: 10px;
    }

      ul.menu li a {
        padding: 10px;
        color: white;
        text-decoration: none;
        background-color: rgba(52, 29, 0, 0.9);
        text-transform: uppercase;

      }
		
		ul.menu li a:hover {
			border-bottom: 2px solid #f1abab;
		}
	


.wrapper {
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	flex-direction: row;
 	align-content: flex-end;
 	align-items: center;
 	margin: 0 auto;
 	background-color: $brandColour;
 	

}

// .bgImg {
// 	background-color: red;
// 	width: 100%;
// }

.navFull {
	// background-color: $brandColour;
	height: 70px;
	width: 100%;
	display: block;
	float:left;
	margin: 20px 0;
}

 .navLeft {
  	width: 30%;
  	float:left;
  	text-align: center;
  	padding: 10px;
  	border: black 1px solid;
  	background-color: rgba(52, 29, 0, 0.9);

}

.navLeft h1 a {
	color:white;
	padding-top: 7px;
}


.navRight {
	float: left;
	display: block;
	width: 70%;
	text-align: right;
}

.banner {
	float: left;
  	display: block;
  	width: 100%;
  	background-color: lightGrey;
}

.overlay h1 { 
	color:red;
}

.brownSection {
	background-color: $brandColour;
	background-image: url(img/beansHead_darken.jpg);
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	flex-direction: row;
 	align-content: flex-end;
 	align-items: center;
 	margin: 0 auto;
 	height: 200px;
 	background-repeat: no-repeat;
 	background-size: cover;

}

.companyInfo {
	margin:0 auto;
	width: 80%;

	h2 {
	text-transform:none;
	color:lightGrey;
	}
}

// .overlay {
// 	position: fixed;
// 	margin: 0 auto;
// }