body {
	background: white;
}

.companyInfo h2 {
	position: fixed;
	width: 90px;
	border-radius: 5px;
	color: black;
	font-family: $navFont;
	padding: 13px;
	left: 430px;
    top: 208px;
}
.quarter {
	width:20%;
	background-color: white;
	border: 1px solid lightgrey;
	margin: 2.5%;
	float: left;
	font-family: $navFont;
	text-align: center;
	padding:2%;
	display: block;

}


.leftTwin, .rightTwin {
	font-family: $navFont;
	width:50%;
	background-color: white;
	display: block;
	float:left;
	color: black;
	padding: 20px;
}

.rightTwin {
	background-color:white;
}

.beansButton {
	border-radius: 25px;
	border: none;
	padding:6%;
	text-transform: uppercase;
}

.specialMenu {
	width: 100%;
	text-align: center;
	margin-top: 2%;
	display:block;
	float:left;
	font-family: $navFont;
}

.brownSection {
	background-color: $brandColour;
	// background-image: url(img/beansHead_darken.jpg);
	display: -webkit-flex;
 	display: -moz-flex;
 	display: -ms-flex;
 	display: -o-flex;
 	display: flex;
 	flex-direction: row;
 	align-content: flex-end;
 	align-items: center;
 	margin: 0 auto;
 	height: 200px;
 	background-repeat: no-repeat;
 	background-size: cover;
  height: 100vh;

}