.leftlist, .rightlist {
	background-color: #F3F2EE;
	float:left;
	width: 47.5%;
	padding:5%;
	margin-bottom: 5%;
	border: 1px darkGrey solid;
	font-family: "Courier New", "Courier", "monospace";

}
.rightlist {
	margin-left:5%;
}

.pageTitle {
	text-align: center;
	margin: 20px;
	padding: 2%;
	font-family: "Courier New", "Courier", "monospace";
}

.pageTitle h2 {
	margin-bottom: 20px;
}

.pageTitle hr {
	border: 1px solid $primaryLink;
	width: 4rem;
	} 

.post {
	 margin-bottom: 30px;
}
	// $brandColour: #604348;
	// $primaryLink: #e7acae;

// .menuBanner {
// 	background-color: red;
// 	width: 100%;
// }