.leftlist, .rightlist {
	background-color: lightGrey;
	float:left;
	width: 47.5%;
	padding:5%;
	margin-bottom: 5%;
}
.rightlist {
	margin-left:5%;
}

.pageTitle {
	text-align: center;
}

.pageTitle h2 {
	margin-bottom: 20px;
}

.pageTitle hr {
	border: 1px solid $primaryLink;
	width: 2rem;
	} 

	// $brandColour: #604348;
	// $primaryLink: #e7acae;

